@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: rgba(245, 245, 245, 1);
  width: 224px;
  height: 200px;
}

h1 {
  background-color: white;
  border-bottom: 1px solid rgba(173, 172, 181, 0.25);
  width: 100%;
  padding: 24px 12px;
}

p {
  height: 100%;
}

.hidden {
  display: none;
}

div#unfound-container {
  background-color: red;
  /* background-color: rgba(245, 245, 245, 1); */
  bottom: 0;
  height: calc(100% - 80px);
  position: absolute;
  width: 100%;
}

div#download-container {
  height: 100%;
}

div#button-container {
  background-color: rgba(45, 49, 66, 1);
  border-radius: 25px;
  color: rgba(216, 213, 219, 1);
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-evenly;
  margin: 12px auto;
  padding: 8px 14px;
  width: 200px;
}

div#button-container:hover {
  color: rgba(45, 49, 66, 1);
  background-color: rgba(216, 213, 219, 1);
}

div svg {
  fill: rgba(216, 213, 219, 1);
  height: 18px;
}

div#button-container:hover > svg {
  fill: rgba(45, 49, 66, 1);
}
